/* ---------------------------------------
	JavaScriptによる神経衰弱ゲームの作成
	株式会社S.B.C.
   ---------------------------------------*/

html {
	display: table;
	height: 100%;
	margin: 0 auto; padding: 0;
}

body {
	display: table-cell;
	min-height: 100%;
	margin: 0 auto; padding: 0;
	vertical-align: middle;
	text-align:center;
	overflow : hidden;
	background-color: rgb(18, 114, 18);
}

/* ----- コンテンツ全体 ----- */
.contents {
	width : 840px;
	height : 480px;
}

/* ----- 全labelに適用 ----- */
label {
	font-weight : normal;
	font-size : 11px;
}

/* ----- 全fieldsetに適用 ----- */
fieldset {
	width : 175px;
	margin: 0 auto; padding: 0;
	background-color : #D9E5FF;
	border : 1px solid #000;
}
legend {
	font-weight : bold;
}

/* ----- 各fieldsetに適用 ----- */
.field-settei {
	height : 80px;
}

.field-sousa {
	height : 65px;
}

.field-message {
/*	height : 210px;*/
}

/* ----- 左側操作エリア ----- */
.div-panel-area {
	width : 200px;
	height : 480px;
	float : left;
	background-color : #A4C6FF;
	border : 2px solid #000;
	padding : 2px;
}

/* ----- 残り回数表示 ----- */
.p-countTxt {
	width:85%;
	background-color:#FFF;
	border : 5px double #000;
	margin: 0 auto; padding: 0;
	font-weight:bold;
}

/* ----- 設定エリアテキストボックス ----- */
.settei-text {
	width : 30px;
	text-align : right;
}
td{
	padding-left:15px ;
}

/* ----- メッセージエリア ----- */
.message-text {
	width : 150px;
	min-height : 180px;
	resize : none;
}

/* ----- 右側ゲームエリア ----- */
.div-game-area {
	height : 480px;
	background-color : #A4C6FF;
	border : 2px solid #000;
	text-align : left;
	padding : 2px;
}

/* ----- カード ----- */
.stage {
}
.stage > li{
	display: inline-block;
	width: 70px;
	height : 100px;
	margin : 0px 0px 5px 15px;
	border: 1px solid #000;
	line-height: 100px;
	cursor: pointer;
}

/* ----- カードが揃った場合のスタイル ----- */
.pair {
	border : 1px solid blue !important;
}

/* ----- 設定ボタン ----- */
.js-set {
	height : 45px;
}

/* ----- スタートボタン ----- */
.js-start {
	width : 75px;
	height : 40px;
}

/* ----- リセットボタン ----- */
.js-reset {
	width : 75px;
	height : 40px;
}

/* ----- 残り回数 -----*/
.js-countTxt {
	font-weight : bold;
}

/*隠す*/
.h{
	display: none;
}

.clear{
	display: flex;
	width: 50%;
	font-size: 100px;
	padding-top: 0;
	height: 1px;
	margin-top: 0;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	color: black;
	text-shadow: 3px 3px 0 white;
	position: relative;
	top:-240px;
}

/*アニメーション用*/
#c.n{
	animation-name: k;
	animation-duration: 1s;
	opacity: 0;
	animation-fill-mode: forwards;
}
#l.n{
	animation-name: k;
	animation-duration: 1s;
	opacity: 0;
	animation-fill-mode: forwards;
	animation-delay: 0.2s;
}#e.n{
	animation-name: k;
	animation-duration: 1s;
	opacity: 0;
	animation-fill-mode: forwards;
	animation-delay: 0.4s;
}
#a.n{
	animation-name: k;
	animation-duration: 1s;
	opacity: 0;
	animation-fill-mode: forwards;
	animation-delay: 0.6s;
}
#r.n{
	animation-name: k;
	animation-duration: 1s;
	opacity: 0;
	animation-fill-mode: forwards;
	animation-delay: 0.8s;
}
@keyframes k{
	0%{
		opacity: 0;
		transform: translateY(30px);
	}
	70%{
		transform: translateY(-20px);
	}
	100%{
		opacity: 1;
		transform: translateY(0);
	}
}